/* mobile version */
@media screen and (max-width: 419px) {
  #lezioni.container .row{
    width: 100%;
    margin: 0;
  }

  #lezioni.container .row div{
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }

}
